/* react-draggable definitions */
.cursor {
    cursor: move;
}

.pointer {
    cursor: pointer;
}

.no-cursor {
    cursor: auto;
}

.cursor-y {
    cursor: ns-resize;
}

.cursor-x {
    cursor: ew-resize;
}

.react-draggable header {
    background-color: rgb(251, 182, 34);
    /*border: 1px solid #999;*/
    /*border-radius: 3px;*/
    display: block;
    padding: 10px;
    text-align: left;
    font-size: 21px;
    font-family: "Bitter Bold";
    color: #fff;
    height: 25px;
}

.react-draggable header .chat-window-icon {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.react-draggable header .chat-window-title {
    margin-left: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.react-draggable footer {
    background-color: rgb(251, 182, 34);
    /*border: 1px solid #999;*/
    /*border-radius: 3px;*/
    display: block;
    text-align: left;
    font-size: 21px;
    font-family: "Bitter Bold";
    color: #fff;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.react-draggable #content {
    width: 100%;
    height: 355px;
    overflow-y: scroll;
    position: absolute;
}

.react-draggable #content .chat-message {
    /*visibility: hidden;*/
    z-index: 10;
    width: 280px;
    background-color: rgb(253, 226, 167);
    text-align: right;
    border-radius: 6px;
    /*bottom: -150px;*/
    left: 60px;
    /*margin-left: -50%;*/
    color: black;
    position: relative;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 5px;
}

.react-draggable #content .chat-message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 15px 15px 15px 0;
    border-style: solid;
    border-color: rgb(253, 226, 167) transparent transparent /*transparent*/;
}

.react-draggable footer .send {
    font-size: 24px;
}

.react-draggable footer input {
    padding: 3px;
    margin: 10px;
    background-color: rgb(253, 211, 122);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    height: 25px;
    width: calc(100% - 70px);
}

.box {
    /*box-sizing: border-box;*/
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(251, 182, 34);
    /*border-radius: 3px;*/
    width: 368px;
    height: 450px;
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*float: left;*/
    position: absolute;
    left: 10px;
    top: 10px;
}

/* end of react-draggable */

/* Chat css goes here */
.panel-container {
    height: 840px;
    width: 240px;
    border: 1px solid rgb(251, 182, 34);
    position: absolute;
    left: 500px;
    top: 20px;
}

.panel {
    /*margin: 5px;*/
}

.panel-title {
    background-color: rgb(251, 182, 34);
    font-weight: bold;
    padding: 10px;
}

.panel-item {
    font-size: 17px;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

.panel-item-group {
    margin: 10px;
    background-color: rgb(254, 240, 211);
    height: 32px;
    border-radius: 5px;
    padding: 5px;
}

.panel-item-contact {
    padding: 10px;
}

.panel-item-student:hover {
    background-color: rgb(254, 240, 211);
}

.panel-item-teacher:hover {
    background-color: rgb(253, 211, 122);
}

/*.panel-item:hover {*/
/*}*/